# --- Core Data & Math ---
pandas==2.3.3
numpy==2.3.4

# --- Geospatial Analysis ---
geopandas==1.1.1
shapely==2.1.2
osmnx==2.1.0

# --- Geospatial Backends & Engines ---
fiona==1.10.1
pyogrio==0.11.1
pyproj==3.7.2

# --- Visualization & Mapping ---
matplotlib==3.10.7
mapclassify
contextily
adjustText
